.bg-dark.rmdp-wrapper,
.bg-dark .rmdp-month-picker,
.bg-dark .rmdp-year-picker,
.bg-dark .rmdp-time-picker div input,
.bg-dark.rmdp-triangle::after {
  background-color: rgb(49, 47, 47);
  color: rgb(196, 199, 202);
}

.bg-dark .rmdp-day:not(.rmdp-deactive),
.bg-dark .rmdp-time-picker div .rmdp-am,
.bg-dark .rmdp-header-values,
.bg-dark .rmdp-panel-header {
  color: rgb(196, 199, 202);
}

.bg-dark .rmdp-day.rmdp-range {
  color: white;
}

.bg-dark .rmdp-panel-body li {
  color: rgb(245, 245, 245);
}
