.bg-gray.rmdp-wrapper,
.bg-gray .rmdp-month-picker,
.bg-gray .rmdp-year-picker {
  background-color: rgb(177, 171, 171);
  color: white;
}

.bg-gray .rmdp-day,
.bg-gray .rmdp-time-picker div .rmdp-am,
.bg-gray .rmdp-header-values,
.bg-gray .rmdp-panel-header {
  color: white;
}

.bg-gray .rmdp-day.rmdp-deactive {
  color: #e3e5e9;
}

.bg-gray .rmdp-header,
.bg-gray .rmdp-panel-header {
  border-bottom: 1px solid #6b6969;
}

.bg-gray .rmdp-time-picker div input {
  background-color: rgb(177, 171, 171);
  color: white;
}
