.rm-date-picker {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.rm-date-picker.rm-dp-rtl .rm-dp-days,
.rm-date-picker.rm-dp-rtl input,
.rm-date-picker.rm-dp-rtl .rm-dp-header {
  direction: rtl;
}

.rm-date-picker .rm-dp-container {
  position: absolute;
  display: none;
  z-index: 1000000;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #8798ad;
  border: 1px solid #8798ad;
  padding-bottom: 2px;
}

.rm-dp-c-wrapper {
  width: 230px;
}

.rm-dp-day-picker {
  padding: 5px;
}

.rm-dp-month-picker,
.rm-dp-year-picker {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  background-color: white;
  padding: 0 6px 0 3px;
  margin-top: 6px;
}

.rm-dp-month-picker .rm-dp-days .rm-dp-d-day,
.rm-dp-year-picker .rm-dp-days .rm-dp-d-day {
  padding: 0px 3px;
}

.rm-dp-container.active {
  display: flex;
}

.rm-dp-month-picker.active,
.rm-dp-year-picker.active {
  display: block;
}

.rm-date-picker .rm-dp-header {
  text-align: center;
  border-bottom: 1px solid #8798ad;
  display: flex;
  justify-content: center;
  padding: 8px 4px;
  border-radius: 5px 5px 0 0;
  color: black;
}

.rm-date-picker .rm-dp-a-container {
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
}

.rm-date-picker .rm-dp-a-container:hover {
  background-color: #0074d9;
  box-shadow: 0 0 3px #8798ad;
}

.rm-date-picker .rm-dp-a-container:hover .rm-dp-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
}

.rm-date-picker .rm-dp-header div {
  flex-grow: 1;
}

.rm-date-picker .rm-dp-header div span {
  cursor: pointer;
}

.rm-date-picker .rm-dp-days {
  display: flex;
}

.rm-date-picker .rm-dp-days .rm-dp-d-day,
.rm-date-picker .rm-dp-days .rm-dp-d-week-day {
  padding: 2px;
  height: 28px;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
  cursor: pointer;
}

.rm-date-picker .rm-dp-days .rm-dp-d-week-day {
  cursor: unset;
  color: #0074d9;
  font-weight: 500;
}

.rm-date-picker .rm-dp-days .rm-dp-d-day.rm-dp-d-deactive {
  color: #8798ad;
}

.rm-date-picker .rm-dp-days .rm-dp-d-day.rm-dp-d-today span {
  background-color: #7fdbff;
  color: white;
  border-radius: 50%;
  width: 90%;
  padding: 4px 2px;
}

.rm-date-picker .rm-dp-days .rm-dp-d-day.rm-dp-d-selected span {
  color: white;
  background-color: #0074d9;
  box-shadow: 0 0 3px #8798ad;
  border-radius: 50%;
  width: 90%;
  padding: 4px 2px;
}

.rm-date-picker .rm-dp-days .rm-dp-d-day.rm-dp-d-range {
  color: white;
  background-color: #0074d9;
  box-shadow: 0 0 3px #8798ad;
}

.rm-date-picker .rm-dp-days .rm-dp-d-day.rm-dp-d-range.rm-dp-d-start {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rm-date-picker .rm-dp-days .rm-dp-d-day.rm-dp-d-range.rm-dp-d-end {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.rm-date-picker
  .rm-dp-month-picker
  .rm-dp-days
  .rm-dp-d-day.rm-dp-d-selected
  span,
.rm-date-picker
  .rm-dp-year-picker
  .rm-dp-days
  .rm-dp-d-day.rm-dp-d-selected
  span {
  color: white;
  background-color: #0074d9;
  border-radius: 8px;
  width: 100%;
  padding: 5px 2px;
}

.rm-date-picker .rm-dp-month-picker .rm-dp-days .rm-dp-d-day:hover span,
.rm-date-picker .rm-dp-year-picker .rm-dp-days .rm-dp-d-day:hover span {
  border-radius: 8px;
  width: 100%;
  padding: 5px 2px;
}

.rm-date-picker
  .rm-dp-days
  .rm-dp-d-day.rm-dp-d-deactive.rm-dp-d-selected
  span {
  color: white;
  background-color: rgb(175, 201, 248);
}

.rm-date-picker .rm-dp-days .rm-dp-d-day:hover span {
  background-color: rgb(126, 166, 240);
  color: white;
  border-radius: 50%;
  width: 90%;
  padding: 4px 2px;
}

.rm-date-picker .rm-dp-time-picker {
  display: none;
  padding: 1px;
}

.rm-date-picker .rm-dp-time-picker.active {
  display: flex;
}

.rm-date-picker .rm-dp-time-picker div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 1px;
}

.rm-date-picker .rm-dp-time-picker div input {
  width: 20px;
  flex-grow: 1;
  text-align: center;
  padding: 5px 2px;
  border: none;
  font-weight: 500;
}

.rm-date-picker .rm-dp-time-picker div input::-webkit-outer-spin-button,
.rm-date-picker .rm-dp-time-picker div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rm-date-picker .rm-dp-time-picker div input[type="number"] {
  -moz-appearance: textfield;
}

.rm-date-picker .rm-dp-time-picker div .rm-dp-tp-am,
.rm-date-picker .rm-dp-time-picker .dvdr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rm-date-picker .rm-dp-time-picker div .rm-dp-tp-am {
  font-size: 13px;
}

.rm-dp-arrow {
  border: solid #0074d9;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  height: 3px;
  width: 3px;
  margin-top: 5px;
}

.rm-dp-arrow.rm-dp-a-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 7px;
}

.rm-dp-arrow.rm-dp-a-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 3px;
}

.rm-dp-arrow.rm-dp-a-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 3px;
}

.rm-dp-arrow.rm-dp-a-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 3px;
}

.rm-date-picker.rm-dp-rtl .rm-dp-header .rm-dp-a-left {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -2px;
}
.rm-date-picker.rm-dp-rtl .rm-dp-header .rm-dp-a-right {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -3px;
}

.rm-date-picker > input {
  margin: 1px 4px;
  border-radius: 5px;
  border: 1px #eaeeff solid;
  padding: 2px 5px;
  background-color: #f9faff;
}

.rm-date-picker > input:focus {
  outline: none !important;
  border: 1px solid #8798ad;
  box-shadow: 0 0 2px #8798ad;
}

.rm-date-picker > input.full-width {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.rm-dp-month-picker .rm-dp-days .rm-dp-d-day:hover .span,
.rm-dp-year-picker .rm-dp-days .rm-dp-d-day:hover .span {
  padding: 4px 0px;
}

.rm-dp-c-panel {
  border-left: 1px solid #8798ad;
  min-width: 100px;
}

.rm-dp-c-p-header {
  border-bottom: 1px solid #8798ad;
  padding: 8px 4px;
  text-align: center;
  padding-bottom: 9px;
}

.rm-dp-c-p-body {
  list-style: none;
  padding: 5px;
  margin: 0;
  text-align: center;
  max-height: 220px;
  overflow: auto;
}

.rm-dp-c-p-body li {
  padding: 2px 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px #8798ad;
  background-color: #0074d9;
  color: white;
  display: flex;
}

.rm-dp-c-p-body li .rm-dp-c-p-b-deselect {
  align-items: center;
  display: inline-flex;
  border: none;
  cursor: pointer;
  height: 12px;
  width: 10px;
  justify-content: center;
  border-radius: 50%;
  font-size: 9px;
  transform: rotate(45deg);
  margin-left: 3px;
  margin-top: 4px;
}

.rm-dp-c-p-body li .rm-dp-c-p-b-deselect:focus {
  outline: none;
}

.rm-dp-c-p-body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.rm-dp-c-p-body::-webkit-scrollbar-thumb {
  background: #0074d9;
  border-radius: 3px;
}

.rm-dp-c-p-body::-webkit-scrollbar-thumb:hover {
  background: #0263b8;
}
