:root {
  --rmdp-primary: #0074d9;
  --rmdp-secondary: #4ca6f5;
  --rmdp-shadow: #8798ad;
  --rmdp-today: #7fdbff;
  --rmdp-hover: #7ea6f0;
  --highlight-red-color: #cc0303;
  --highlight-red-color-deactive: #e08e8e;
  --highlight-red-selected: #ea0034;
  --highlight-red-selected-deactive: #e4b0ba;
  --highlight-red-hover: #ff6687;
  --highlight-green-color: #00796b;
  --highlight-green-color-deactive: #7ab3ac;
  --highlight-green-selected: #009688;
  --highlight-green-selected-deactive: #749c98;
  --highlight-green-hover: #4db6ac;
}

.rmdp-wrapper {
  visibility: hidden;
  width: max-content;
  border: 1px solid var(--rmdp-shadow);
  box-shadow: 0 0 5px var(--rmdp-shadow);
  border-radius: 7px;
  text-align: center;
  background-color: white;
}

.rmdp-wrapper.active {
  visibility: visible;
}

.rmdp-border-top {
  border-top: 1px solid var(--rmdp-shadow);
}

.rmdp-border-bottom {
  border-bottom: 1px solid var(--rmdp-shadow);
}

.rmdp-border-left {
  border-left: 1px solid var(--rmdp-shadow);
}

.rmdp-border-right {
  border-right: 1px solid var(--rmdp-shadow);
}

.rmdp-week,
.rmdp-ym {
  display: flex;
  justify-content: center;
}

.rmdp-ym {
  height: 25%;
}

.rmdp-day,
.rmdp-week-day {
  height: 34px;
  width: 34px;
  cursor: pointer;
  position: relative;
  color: black;
}

.rmdp-week-day {
  cursor: unset;
  color: var(--rmdp-primary);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}

.rmdp-day span {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.rmdp-day.rmdp-today span {
  background-color: var(--rmdp-today);
  color: white;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-primary);
  box-shadow: 0 0 3px var(--rmdp-shadow);
  color: white;
}

.rmdp-day.rmdp-deactive,
.rmdp-day.rmdp-disabled {
  color: var(--rmdp-shadow);
}

.rmdp-day.rmdp-deactive.rmdp-selected span {
  background-color: var(--rmdp-secondary);
  box-shadow: 0 0 3px #bac5d3;
}

.rmdp-ym .rmdp-day {
  flex: 1;
  margin: auto;
}

.rmdp-ym .rmdp-day span {
  border-radius: 12px;
  height: 98%;
  padding: 2px 0px;
}

.rmdp-range {
  color: white;
  background-color: var(--rmdp-primary);
  box-shadow: 0 0 3px var(--rmdp-shadow);
}

.rmdp-range.start {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rmdp-range.end {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-hover);
  color: white;
}

.rmdp-day-picker {
  padding: 5px;
}

.rmdp-header {
  border-bottom: 1px solid var(--rmdp-shadow);
  height: 38px;
  line-height: 37px;
}

.rmdp-month-picker,
.rmdp-year-picker {
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 0 0 5px 5px;
}

.only.rmdp-month-picker,
.only.rmdp-year-picker {
  position: static;
  width: 250px;
  height: 240px;
}

.rmdp-header-values {
  color: black;
}

.rmdp-header-values span {
  padding: 0 5px;
  padding-right: 0;
}

.rmdp-arrow {
  border: solid var(--rmdp-primary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  height: 3px;
  width: 3px;
  margin-top: 5px;
}

.rmdp-up i {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 7px;
}

.rmdp-down i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 3px;
}

.rmdp-right i {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 3px;
}

.rmdp-left i {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 3px;
}

.rmdp-left,
.rmdp-right {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
}

.rmdp-left {
  left: 0;
}

.rmdp-right {
  right: 0;
}

.rmdp-arrow-container {
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.rmdp-arrow-container:hover {
  background-color: var(--rmdp-primary);
  box-shadow: 0 0 3px var(--rmdp-shadow);
}

.rmdp-arrow-container:hover .rmdp-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
}

.rmdp-time-picker {
  display: flex;
  padding: 3px 0;
  border-top: 1px solid var(--rmdp-shadow);
}

.rmdp-time-picker.active {
  display: flex;
}

.rmdp-time-picker div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 1px;
}

.rmdp-time-picker div input {
  width: 20px;
  flex-grow: 1;
  text-align: center;
  padding: 5px 2px;
  border: none;
}

.rmdp-time-picker div input::-webkit-outer-spin-button,
.rmdp-time-picker div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rmdp-time-picker div input[type="number"] {
  -moz-appearance: textfield;
}

.rmdp-time-picker .dvdr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5px;
}

.rmdp-time-picker div .rmdp-am {
  font-size: 13px;
  line-height: 21px;
  color: black;
  margin-top: 2px;
}

.rmdp-only-time-picker {
  border-top: unset;
  width: 220px;
}

.rmdp-rtl {
  direction: rtl;
}

.rmdp-rtl .rmdp-left i {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: unset;
  margin-right: 3px;
}

.rmdp-rtl .rmdp-right i {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: unset;
  margin-left: 3px;
}

.rmdp-rtl .rmdp-right {
  right: unset;
  left: 0;
}

.rmdp-rtl .rmdp-left {
  left: unset;
  right: 0;
}

.rmdp-rtl .rmdp-range.start {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.rmdp-rtl .rmdp-range.end {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rmdp-rtl .rmdp-range.start.end {
  border-radius: 50%;
}

.rmdp-day-hidden,
.rmdp-day.rmdp-disabled {
  cursor: unset;
}

.rmdp-selected .highlight {
  box-shadow: 0 0 3px var(--rmdp-shadow);
}

.rmdp-day:hover:not(.rmdp-disabled):not(.rmdp-day-hidden) .highlight-red {
  background-color: var(--highlight-red-hover);
}

.rmdp-day:not(.rmdp-deactive) .highlight-red {
  color: var(--highlight-red-color);
}

.rmdp-day.rmdp-deactive .highlight-red {
  color: var(--highlight-red-color-deactive);
}

.rmdp-day.rmdp-selected .highlight-red {
  background-color: var(--highlight-red-selected);
  color: white;
}

.rmdp-day.rmdp-deactive.rmdp-selected .highlight-red {
  background-color: var(--highlight-red-selected-deactive);
  color: white;
}

.rmdp-day:hover:not(.rmdp-disabled):not(.rmdp-day-hidden) .highlight-green {
  background-color: var(--highlight-green-hover);
}

.rmdp-day:not(.rmdp-deactive) .highlight-green {
  color: var(--highlight-green-color);
}

.rmdp-day.rmdp-deactive .highlight-green {
  color: var(--highlight-green-color-deactive);
}

.rmdp-day.rmdp-selected .highlight-green {
  background-color: var(--highlight-green-selected);
  color: white;
}

.rmdp-day.rmdp-deactive.rmdp-selected .highlight-green {
  background-color: var(--highlight-green-selected-deactive);
  color: white;
}

@media (max-width: 400px), (max-height: 400px) {
  .rmdp-day,
  .rmdp-week-day {
    height: 28px;
    width: 28px;
  }

  .rmdp-day span {
    padding-left: 0.5px;
    font-size: 12px;
  }

  .only.rmdp-year-picker,
  .only.rmdp-month-picker {
    width: 205px;
    height: 200px;
  }

  .rmdp-header {
    height: 32px;
    line-height: 32px;
  }
}

.rmdp-day-hidden:hover span,
.rmdp-day-hidden {
  background-color: unset;
  color: transparent;
}
