.rmdp-wrapper {
  visibility: hidden;
  display: flex;
  width: max-content;
  border: 1px solid #8798ad;
  box-shadow: 0 0 5px #8798ad;
  border-radius: 7px;
  z-index: 1000000;
  text-align: center;
  background-color: white;
}

.rmdp-wrapper.active {
  visibility: visible;
}

.rmpd-panel {
  min-width: 120px;
  border-left: 1px solid #8798ad;
}

.rmdp-panel-body {
  position: absolute;
  left: 0;
  right: 0;
  list-style: none;
  padding: 0px 5px;
  margin: 0;
  text-align: center;
  overflow: auto;
}

.rmdp-panel-body li {
  border-radius: 5px;
  box-shadow: 0 0 2px #8798ad;
  background-color: #0074d9;
  color: white;
  display: flex;
  cursor: pointer;
  position: relative;
  margin-bottom: 4px;
}

.rmdp-panel-body span {
  margin: 0 5px;
  line-height: 23px;
}

.rmdp-panel-body li .b-deselect {
  align-items: center;
  display: inline-flex;
  border: none;
  cursor: pointer;
  height: 12px;
  width: 12px;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 52%;
  transform: translateY(-50%) rotate(45deg);
}

.rmdp-panel-body li .b-deselect:focus {
  outline: none;
}

.rmdp-week,
.rmdp-ym {
  display: flex;
  justify-content: center;
}

.rmdp-ym {
  height: 25%;
}

.rmdp-day,
.rmdp-week-day {
  height: 34px;
  width: 34px;
  cursor: pointer;
  position: relative;
  color: black;
}

.rmdp-week-day {
  cursor: unset;
  color: #0074d9;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}

.rmdp-day span {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.rmdp-day.rmdp-today span {
  background-color: #7fdbff;
  color: white;
}

.rmdp-day.rmdp-selected span {
  background-color: #0074d9;
  box-shadow: 0 0 3px #8798ad;
  color: white;
}

.rmdp-day.rmdp-deactive,
.rmdp-day.rmdp-disabled {
  color: #8798ad;
}

.rmdp-day.rmdp-deactive.rmdp-selected span {
  background-color: #4ca6f5;
  box-shadow: 0 0 3px #bac5d3;
}

.rmdp-ym .rmdp-day {
  flex: 1;
  margin: auto;
}

.rmdp-ym .rmdp-day span {
  border-radius: 12px;
  height: 98%;
  padding: 2px 0px;
}

.rmdp-range {
  color: white;
  background-color: #0074d9;
  box-shadow: 0 0 3px #8798ad;
}

.rmdp-range.start {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rmdp-range.end {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.rmdp-day:hover:not(.rmdp-disabled):not(.rmdp-day-hidden) span {
  background-color: rgb(126, 166, 240);
  color: white;
}

.rmdp-day-picker {
  padding: 5px;
}

.rmdp-header,
.rmdp-panel-header {
  border-bottom: 1px solid #8798ad;
  height: 38px;
  line-height: 37px;
}

.rmdp-panel-header {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.rmdp-month-picker,
.rmdp-year-picker {
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 0 0 5px 5px;
}

.only.rmdp-month-picker,
.only.rmdp-year-picker {
  position: static;
  width: 250px;
  height: 240px;
}

.rmdp-header-values {
  color: black;
}

.rmdp-header-values span {
  cursor: pointer;
  padding: 0 5px;
  padding-right: 0;
}

.rmdp-arrow {
  border: solid #0074d9;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  height: 3px;
  width: 3px;
  margin-top: 5px;
}

.rmdp-up i {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 7px;
}

.rmdp-down i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: 3px;
}

.rmdp-right i {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 3px;
}

.rmdp-left i {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 3px;
}

.rmdp-left,
.rmdp-right {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
}

.rmdp-right {
  right: 0;
}

.rmdp-arrow-container {
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.rmdp-arrow-container:hover {
  background-color: #0074d9;
  box-shadow: 0 0 3px #8798ad;
}

.rmdp-arrow-container:hover .rmdp-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
}

.rmdp-panel-body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.rmdp-panel-body::-webkit-scrollbar-thumb {
  background: #0074d9;
  border-radius: 3px;
}

.rmdp-panel-body::-webkit-scrollbar-thumb:hover {
  background: #0263b8;
}

.rmdp-time-picker {
  display: flex;
  padding: 3px 0;
  border-top: 1px solid #8798ad;
}

.rmdp-time-picker.active {
  display: flex;
}

.rmdp-time-picker div {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 1px;
}

.rmdp-time-picker div input {
  width: 20px;
  flex-grow: 1;
  text-align: center;
  padding: 5px 2px;
  border: none;
}

.rmdp-time-picker div input::-webkit-outer-spin-button,
.rmdp-time-picker div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.rmdp-time-picker div input[type="number"] {
  -moz-appearance: textfield;
}

.rmdp-time-picker .dvdr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5px;
}

.rmdp-time-picker div .rmdp-am {
  font-size: 13px;
  color: black;
  margin-top: 2px;
}

.rmdp-only-time-picker {
  border-top: unset;
  width: 220px;
}

.rmdp-rtl {
  direction: rtl;
}

.rmdp-rtl .rmdp-left i {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: unset;
  margin-right: 3px;
}

.rmdp-rtl .rmdp-right i {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: unset;
  margin-left: 3px;
}

.rmdp-rtl .rmdp-right {
  right: unset;
  left: 0;
}

.rmdp-rtl .rmpd-panel {
  border-left: unset;
  border-right: 1px solid #8798ad;
}

.rmdp-rtl .rmdp-panel-body li .b-deselect {
  right: unset;
  left: 5px;
}

.rmdp-rtl .rmdp-range.start {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.rmdp-rtl .rmdp-range.end {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rmdp-rtl .rmdp-range.start.end {
  border-radius: 50%;
}

.rmdp-day-hidden,
.rmdp-day.rmdp-disabled {
  cursor: unset;
}

.rmdp-day:hover:not(.rmdp-disabled):not(.rmdp-day-hidden) .rmdp-weekend {
  background-color: #ff6687;
}

.rmdp-day:not(.rmdp-deactive) .rmdp-weekend {
  color: #cc0303;
}

.rmdp-day.rmdp-deactive .rmdp-weekend {
  color: #e08e8e;
}

.rmdp-day.rmdp-selected .rmdp-weekend {
  background-color: #ea0034;
  color: white;
}

.rmdp-day.rmdp-deactive.rmdp-selected .rmdp-weekend {
  background-color: #e4b0ba;
  color: white;
}

@media (max-width: 400px), (max-height: 400px) {
  .rmdp-day,
  .rmdp-week-day {
    height: 28px;
    width: 28px;
  }

  .rmdp-day span {
    padding-left: 0.5px;
    font-size: 12px;
  }

  .rmpd-panel {
    min-width: 93px;
  }

  .rmdp-panel-body {
    padding: 0 2px;
  }

  .rmdp-panel-body li {
    font-size: 12px;
  }

  .only.rmdp-year-picker,
  .only.rmdp-month-picker {
    width: 205px;
  }

  .rmdp-header,
  .rmdp-panel-header {
    height: 32px;
    line-height: 32px;
  }
}

.rmdp-day-hidden:hover span,
.rmdp-day-hidden {
  background-color: unset;
  color: transparent;
}
