.green .rmdp-analog-clock {
  background-color: #01ff70;
  border: 5px solid #39795c;
}

.green .rmdp-analog-clock .dial-lines {
  background-color: #3d9970;
}

.green .rmdp-analog-clock .dial-lines:nth-of-type(5n) {
  width: 3px;
  height: 8px;
  background-color: #39795c;
}

.green .rmdp-analog-clock .rmdp-second {
  background-color: #2a644a;
}
