.yellow .rmdp-analog-clock {
  background-color: #ffdd1f;
  border: 5px solid#cca701;
}

.yellow .rmdp-analog-clock .dial-lines {
  background-color: #d1b309;
}

.yellow .rmdp-analog-clock .dial-lines:nth-of-type(5n) {
  width: 3px;
  height: 8px;
  background-color: #978105;
}

.yellow .rmdp-analog-clock .rmdp-second {
  background-color: #c7a901;
}
